// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss"; 

// Screens
@import "./screens/search.scss";

// Defaults

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: white;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}
