.search__form {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin: 0 auto;
  input {
    all: unset;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: black;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
  }
  input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px;
  }
}
