.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}
.video-grid { // home, search, profile
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.auth-switch { // join, login
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: underline;
  }
}

.avatar { // profile, edit-profile
  width: 150px;
  height: 150px;
  border-radius: 50%;
}