extends base
include mixins/video

block content 
    div.home__videos
        each video in videos 
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            


        else 
            li Sorry nothing found.
