extends base

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="name", type="text", required, placeholder="Name")
        input(name="email", type="email", required, placeholder="Email")
        input(name="username", type="text", required, placeholder="Username")
        input(name="password", type="password", required, placeholder="Password")
        input(name="password2", type="password", required, placeholder="Confirm Password")
        input(name="location", type="text", required, placeholder="Location")
        input(type="submit", value="Join")    
        include partials/social-login
    div.auth-switch 
        span Already have an account? 
        a(href="/login") Log in now &rarr;
        