div.social-login 
    a(href="/users/github/start").social__btn.social__btn--github 
        i.fab.fa-github 
        |  Continue with Github &rarr;
    br
    a(href="/users/kakao/start").social__btn.social__btn--kakaotalk 
        i.fas.fa-comment 
        |  Continue with Kakaotalk &rarr;

        //- html옆에 text를 넣고 싶을 때 | 사용
